<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title><%= current_page.data.title %> | carl.hoyer.ca</title>

        <meta name="author" content="<%= current_page.data.author %>">
        <meta name="description" content="<%= current_page.data.description %>">
        <meta name="keywords" content="<%= current_page.data.keywords %>">

        <script type="text/javascript" src="//use.typekit.net/oir0uci.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <%= stylesheet_link_tag 'site' %>
    </head>
    <body>

        <%= partial "persistent-bar" %>

        <div id="main">
            <article class="post">
                <header>
                    <time class="postdate" datetime="<%= current_article.date.strftime('%Y-%m-%d') %>" pubdate><%= current_article.date.strftime('%B %e, %Y') %></time>
                    <h1 class="mega"><%= data.page.title %></h1>
                </header>
                <%= yield %>
                <footer>
                    <div class="meta center">
                        <span class="posttag-bookend">{</span> <span class="posttags"><%= data.page.tags %></span> <span class="posttag-bookend">}</span> <sup>Meta</sup>
                    </div>
                    <div class="porpema"><%= image_tag "haeckel_porpema.png", :alt => "end of article", :class => "center" %></div>
                    <div class="nav-home"><a href="/"><span class="arrow">←</span> Back to homepage</a></div>
                </footer>

            </article>

            <section id="comments">
                <h2 class="gamma">Comments</h2>
                <%= partial(:disqus, :locals => { :disqus_identifier => "http://carl.hoyer.ca" + current_page.url, :disqus_url => "http://carl.hoyer.ca" + current_page.url }) %>
            </section>

            <%= partial "footer" %>

        </div>

        <%= partial "analytics" %>

    </body>
</html>
