<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title><%= current_page.data.title %> | carl.hoyer.ca</title>

        <meta name="author" content="<%= current_page.data.author %>">
        <meta name="description" content="<%= current_page.data.description %>">
        <meta name="keywords" content="<%= current_page.data.keywords %>">

        <script type="text/javascript" src="//use.typekit.net/oir0uci.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <link rel="stylesheet" href="/css/site.css">
    </head>
    <body>

        <%= partial "persistent-bar" %>

        <div id="main">

            <%= yield %>

            <%= partial "footer" %>
        </div>

        <!-- Google Analytics to go here -->

    </body>
</html>
